*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --navy: #0f172a;
    --light-navy: #1e293b;
    --pink: #f8bbd9;
    --hot-pink: #ec4899;
    --white: #ffffff;
    --gray: #cbd5e1; 
}

html {
    scroll-behavior: smooth;
}


body{
    font-family: "Poppins", sans-serif;
    background-color: var(--navy);
    color: var(--white);
    line-height: 1.6;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--light-navy);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 999;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}

.navbar-logo {
    font-size: 2rem;
    font-weight: 600;
    color: var(--pink);
    text-decoration: none;
    cursor: pointer;
}

.navbar-container .navbar-menu {
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style: none;
}

.navbar-container .navbar-menu li a {
    text-decoration: none;
    color: var(--pink);
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.7s ease;
    white-space: nowrap;
}
.navbar-container .navbar-menu li a:hover{
    color: var(--hot-pink);
    background: var(--pink);
    border: 2px solid var(--white);
}

.navbar-toggle {
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--pink);
    transition: all 0.3s ease-in-out;
}

@media (max-width:880px){
    .navbar{
        backdrop-filter: none;
    }

    .navbar-container .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        background: #0f172a9f;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
    }
    .navbar-container .navbar-menu.active {
        display: flex;
    }
    .navbar-toggle{
        display: block;
        z-index: 999;
    }
    .navbar-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .navbar-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media (max-width: 480px) {
    .navbar-container{
        padding: 0 1rem;

    }
    .navbar-logo{
        font-size: 1.7rem;
    }
    .navbar-container .navbar-menu li a {
        font-size: 1.2rem;
        padding: 3px 15px;
    }
}

.hero {
    max-width: 1400px;
    margin: 70px auto;
    padding: 0 40px;
    display: grid;
    grid-template-columns: 420px 1fr;
    gap: 80px;
    align-items: start;
} 

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.profile-image img {
    margin-top: 50px;
    width: 370px ;
    height: 420px;
    object-fit: cover;
    border-radius: 40px;
    border: 4px solid var(--pink);
    box-shadow: 
    0 0 20px rgba (248, 187, 217,.5),
    0 0 60px rgba (236, 72, 153,.35);
}

@media (max-width:1024px) {
    .hero {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        padding: 0 30px;
    }

    .profile-image img {
        width: 100%;
        height: auto;
        max-width: 350px;
        margin-top: 60px;
    }

    .greeting {
        margin-top: 60px;
        font-size: 2rem;
    }

    .hero-right h1 {
        padding-top: 60px;
    }
}

@media (max-width:768px) {
    .hero {
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 0 20px;
        margin: 40px auto;
    }

    .hero-left {
        align-items: center;
    }

    .profile-image img {
        width: 280px;
        height: 320px;
        margin-top: 40px;
    }

    .socials {
        justify-content: center;
    }

    .hero-right {
        padding-top: 0;
        text-align: center;
    }

    .hero-right h1 {
        font-size: 2.5rem;
    }

    .hero-right h2 {
        font-size: 1.2rem;
    }

    .description {
        max-width: 100%;
        font-size: 1rem;
        text-align: center;
        padding: 0 10px;
    }
}

.greeting {
    margin-top: 50px;
    color: var(--hot-pink);
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 2.5rem;
}

.hero-right h1 {
   font-size: 4rem;
   color: var(--white);
   margin-bottom: 10px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.hero-right h2 {
    color: var(--hot-pink);
    font-weight: 500;
    margin-bottom: 25px;
}

.description {
    color: var(--gray);
    font-size: 1.15rem;
    line-height: 1.8;
    max-width: 650px;
}


.section-title {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--hot-pink);
    font-size: 2rem;
}

.section-title img {
    width: 40px;
    height: 40px;
    image-rendering: pixelated;
}
.projects {
    max-width: 1400px;
    margin: 80px auto;
    padding:0 40px;
}
 
.projects h2 {
    color: var(--hot-pink);
    margin-bottom: 30px;
    font-size: 2rem;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.project-card {
    background: var(--light-navy);
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid rgba(248,187,217,.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    color: var(--white);
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.project-image {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.project-card:hover .project-image img {
    transform: scale(1.05);
}

.project-card .project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(236, 72, 153, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project-card:hover .project-overlay {
    opacity: 1;
}

.project-overlay span {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 12px 24px;
    border: 2px solid var(--white);
    border-radius: 30px;
    background: rgba(15, 23, 42, 0.6);
    backdrop-filter: blur(5px);
    pointer-events: none;
}

.project-card h3 {
    padding: 20px 25px;
    font-size: 1.2rem;
    color: var(--white);
    margin: 0;
}

@media (max-width:1024px) {
    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:768px) {
    .project-container {
        grid-template-columns: 1fr;
    }
    .project-image {
        height: 250px;
    }
}




.footer {
    padding: 15px 40px;
    background: var(--light-navy);
    border-top: 1px solid rgba(248, 187, 217, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    overflow-x: hidden;
}

.footer-socials {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-socials a {
    position: relative;
    color: var(--gray);
    font-size: 1.4rem;
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer-socials a:hover {
    color: var(--hot-pink);
    transform: translateY(-3px);
}

.footer-socials a:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

.footer p {
    color: var(--gray);
    font-size: 0.9rem;
    margin: 0;
}

.playlist-section {
    width: 100%;
    padding: 120px 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlist-container {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 50px;
    background: var(--light-navy);
    backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 35px;
    padding: 45px;
}

.album-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.album-cover {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 30px;
    background: var(--pink);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
    transition: 0.35s;
}

.album-cover:hover {
    transform: translateY(-8px);
}

.album-logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 42px;
    font-weight: 700;
    color: var(--hot-pink); */
    margin-bottom: 30px;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.album-logo img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.album-cover h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.album-cover p {
    opacity: 0.8;
}

.playlist-header span {
    color: var(--hot-pink);
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.playlist-header h1 {
    font-size: 2.5rem;
    margin-top: 8px;
    margin-bottom: 40px;
}

.track-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.track {
    display: grid;
    grid-template-columns: 55px 1fr 60px;
    align-items: center;
    padding: 18px 20px;
    border-radius: 18px;
    background: var(--navy);
    transition: 0.3s;
}

.track:hover {
    background: var(--pink);
    transform: translateX(8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
}

.track-number {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--hot-pink);
}

.track-info h3 {
    margin-bottom: 4px;
    font-size: 1.1rem;
}

.track-info p {
    opacity: 0.65;
    font-size: 0.95rem;
}

.track:hover .track-info p {
    opacity: 0.9;
}

.play-btn {
    width: 48px;
    height: 48px;
    border: none;
    outline: none;
    border-radius: 50%;
    background: var(--hot-pink);
    color: var(--white);
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}

.play-btn:hover {
    transform: scale(1.1);
    background: var(--pink);
}

.play-btn i {
    pointer-events: none;
}

.track.active {
    background: var(--pink);
}

.track.active .track-info h3 {
    color: var(--hot-pink);
}

.now-playing {
    margin-top: 45px;
    padding: 25px;
    border-radius: 20px;
    background: var(--pink);
}

.now-playing span {
    color: var(--hot-pink);
    font-size: 0.8rem;
    letter-spacing: 2px;
    font-weight: 700;
}

.now-playing h2 {
    margin-top: 12px;
    margin-bottom: 8px;
}

.now-playing p {
    opacity: 0.75;
}

@media(max-width:900px){
    .playlist-container{
        grid-template-columns: 1fr;
        padding: 35px;
    }
    .album-cover{
        max-width: 320px;
        margin: auto;
    }
}

@media(max-width:600px){
    .playlist-section{
        padding: 80px 20px;
    }
    .playlist-header h1 {
        font-size: 2rem;
    }
    .track{
        grid-template-columns: 45px 1fr 50px;
        padding: 15px;
    }
    .album-logo{
        width: 95px;
        height: 95px;
        font-size: 34px;
    }
}

.petal {
    position: fixed;
    top: -60px;
    width: 35px;
    pointer-events: none;
    z-index: 9999;
    animation: fall linear forwards;
}

@keyframes fall {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 0;
    }

    10%{
        opacity: 1;
    }

    100%{
        transform: translateY(110vh) rotate(720deg);
        opacity: 0;
    }
}














 